<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UBER</title>
	 <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/agent.css">
</head>
<body>
	<div class='row'>
		<div class='container col-md-8 col-lg-5 col-xs-12'>

			<div class='center-block'>


				<div class='row'>

					<div class='form-signin col-md-12 col-xs-12'>

							<div  class='col-xs-12 login_logo'>
								<img class='col-xs-3 col-md-12' src='images/uberlogo.png'>
							</div>

					    <form class='' action='/agentlogin' method='post'>
									<label for='username'> Username</label>
						      <input type="text" class="form-control-lg col-md-12 col-xs-12" name="username" placeholder="Username" required="" autofocus="" />
									<label for='password'> Password</label>
									<input type="password" class="form-control-lg col-md-12 col-xs-12" name="password" placeholder="Password" required="" />
					        <label class="checkbox">
					            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
					        </label>
					        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
					    </form>


					</div>
				</div>
			</div>

		</div>


</body>
</html>
