<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Uber Landing</title>
	  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/landingPage.css">
</head>
<body>
	
	<div id='main' class='col-md-4'>
		<div class="center-block">
		 	<img src="/images/uberlogo.png" alt="">
			<h2 class="login-heading">LOG IN</h2>		

			<button class="driver_btn" onclick="window.location.href='/login'">LOGIN AS DRIVER"</button>
			<br>
			<button class="agent_btn"  onclick="window.location.href='/agentlogin'">LOGIN AS AGENT</button>

		</div>
	</div>
</body>
</html>