<html>
	
	<head>
	<title> U B E R </title>
	
	<link rel='stylesheet' type='text/css' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<script type='text/javascript' src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel='stylesheet' type='text/css' href='ubermain.css'>
	</head>

	<body>




	


	<div class='container'>
		<div class='row'>
			<div class='col-md-8' id='logincontent'>
				<img src='uberlogo.jpg'>
				<div id='logindata'>
					<h4><span class='label'>Username</span></h4>
					<input type='text' id='username' placeholder='your username here'>
					<br>
					<h4><span class='label'>Password</span></h4>
					<input type='password' id='password' placeholder='your password here'>
					<br>
					<div id='buttons'>
						<button clas='btn' type='button'>signup</button>
						<button clas='btn' type='button'>login</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	




	</body>
</html>

