body {
    background:url('./../images/blurred.jpg') center center no-repeat;
}
.login_logo{
  padding:5%;
}
img {

    display: block;
    margin-left: auto;
    margin-right: auto
}

.center-block{
  margin-top: 20%;
}

.form-signin {
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: rgba(9, 9, 26, .6);
    color: #1FBAD6;
    .form-signin-heading,
    .checkbox {
        margin-bottom: 30px;
    }
    .checkbox {
        font-weight: normal;
        color: #C0C0C8;
    }
    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
    }
    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media max-width(480){
  .form-signin{background: none;}
}
