body{
	background-color: #C0C0C8;
}

img {
    max-width: 20%;
    max-height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.login-heading{
	text-align: center;
	font-family: helvetica;
	font-size: 20px;
}

.form-landing {
    width: 250px;
    margin: 0 auto;
    color: #1FBAD6;
    overflow: auto;

   }

  .driver_btn{
    	color: #C0C0C8;
    	background-color:#09091A;
    	position: absolute;
    	margin: 0 auto;
    	width: 300px;
    	height: 60px;
    }
    .agent_btn{
    	color: #09091A;
    	background-color: #1FBAD6;
    	position: absolute;
    	margin: 0 auto;
    	margin-top: 5%;
    	width: 300px;
    	height: 60px;
    }
