body{
	background:url('./../images/blurred.jpg') center center no-repeat;
    padding:10%;
}

img {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.login-heading{
	text-align: center;
	font-family: helvetica;
	font-size: 20px;
}

.form-landing {
    width: 250px;
    margin: 0 auto;
    color: #1FBAD6;
    overflow: auto;

   }


#main{

    background:rgba(9, 9, 26, .6);
    box-shadow: 1px 1px 10px 3px #222231;
    padding:10%;
    border-radius: 20px;

}
