body{
	background-color: #C0C0C8; 
}


img {
    max-width: 20%;
    max-height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.row{
    margin-top: 5%;
}

.form-horizontal {
    border-style: solid;
    border-color: #1FBAD6;
    border-width: 1px;
    margin-top: 5%;
    background-color: #09091A;
}

.control-group {
    font-family: helvetica;
    text-align: center;
    color: #1FBAD6;
}

.legend {
    text-align: center;
}

.btn {
    background-color: #1FBAD6;
}

.help-block{
}